{% extends "base.html" %}
{% block title %}
Shopping Cart | Home
{% endblock title %}
{% block body %}

<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Products</h2>
    </div>


    <div class="row">
      {% for product in products %}
    
     
      <div class="col-md-3">
        <div class="card">
          <img src="{{url_for('static',filename='uploads/'+product.pimage)}}" class="card-img-top"  height="300px">
          <div class="card-body">
            <h5 class="card-title">{{product.productname}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text"><b>Price : {{product.price}}</b></p>
            <button onclick="addToCart('{{ product.pid }}', '{{ product.productname }}', '{{ product.price }}', this)" class="btn btn-success">Add to cart</button>
            <a href="/product/{{product.pid}}" class="btn btn-dark">View</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>


  


  </div>

  </section>

{% endblock body %}