{% extends "base.html" %}
{% block title %}
 Shopping Cart | Login 
{% endblock title %}
{% block body %}

<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Profile</h2>
    </div>

    {% include "messages.html" %}

    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
<div class="card">
    <div class="card-body p-2">
        <h5 class="text-dark">Name : {{userdata.firstname}} {{userdata.lastname}}</h5>
        <hr>
        <h5 class="text-dark">Email : {{userdata.email}}</h5>
        <hr>
        <h5 class="text-dark">Phone Number : {{userdata.phone}}</h5>
    
    </div>
</div>

      </div>

      <div class="col-md-4"></div>
    </div>
  </div>
</section>

{% endblock body %}
